@import 'icon.css';

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #f8f8f8;
  text-decoration: none;
  transition: color 0.3s;
  outline: none;
  text-decoration-skip: objects;
}

a:hover,
a:active,
a:focus {
  outline: 0;
  text-decoration: none;
}

a:hover,
a:active {
  color: #fa541c;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#main {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  text-align: center;
}

#main > section {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#page1 {
  background-image: url(../assets/imgs/robots.jpg);
}

.inner {
  width: 100%;
  max-width: 100rem;
  margin: 0 auto;
  padding: 5rem 0;
}

.inner-col {
  position: relative;
  width: 88%;
  margin: 0 auto;
  overflow: hidden;
}

.profile {
  color: #f8f8f8;
  max-width: 38.75rem;
}

.avatar {
  width: 7rem;
  border-radius: 50%;
  border: 2px solid #fa541c;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
}

.profile h1 {
  margin: 0;
  line-height: 3rem;
  font-size: 1.6rem;
}

.profile h2 {
  margin: 0.625rem 0;
  font-size: 0.9rem;
  line-height: 1.7rem;
}

.profile hr {
  margin: 0.625rem auto;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.14);
}

hr.long {
  width: 30%;
}

hr.short {
  width: 15%;
}

nav {
  margin: 1.5rem 0;
}

nav li {
  display: inline-block;
  margin: 0 8px;
  border-radius: 1.1rem;
  border: 1px solid #f8f8f8;
}

nav li a {
  display: block;
  padding: 0.5rem 1rem;
  font-size: 0.9em;
  font-weight: bold;
  opacity: 0.8;
}

.social {
  margin: 0.5rem;
}

.social li {
  display: inline-block;
}

.social li a {
  display: block;
  padding: 8px 16px;
  opacity: 0.8;
  font-size: 1.4rem;
}

.grow-rotate {
  transition: transform 0.3s;
}

.grow-rotate:active,
.grow-rotate:focus,
.grow-rotate:hover {
  transform: scale(1.2) rotate(5deg);
}

.footer {
  position: fixed;
  bottom: 0;
  color: #bbb;
  font-size: 14px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.footer a {
  color: inherit;
}
